* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  padding: 15px 15px;
}

main {
  padding: 25px 25px;
  margin: 10px;
}

h1 {
  text-align: center;
  color: rgb(37, 114, 48);
  padding: 10px;
  font-size: 30px;
}

h2 {
  text-align: center;
  color: rgb(37, 114, 48);
  padding: 10px;
  font-size: 25px;
}

p {
  margin: 20px;
  text-align: center;
  font-size: 18px;
  color: black;
}

h3 {
  text-align: center;
  color: rgb(37, 114, 48);
  text-decoration: solid;
  font-size: 22px;
}

.index.row {
  justify-content: center;
}

.sostenibilidad {
  font-size: 40px;
}

header {
  margin: 0px;
  background-color: rgba(167, 192, 166, 0.589);
  justify-content: center;
  display: flex;
  overflow: hidden;
  margin-bottom: 5px;
  border-bottom: 5px solid black;
  text-align: center;
  line-height: 0px;
  height: auto;
}

header nav a:hover {
  background-color: rgb(255, 217, 147);
  border-radius: 10px;
  box-shadow: 0 40px 15px #888;
}

.logo {
  float: left;
  width: 150px;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 20px 20px;
  line-height: 15px;
  font-size: 13px;
  display: inline-block;
  font-weight: bolder;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(37, 114, 48);
  display: inline-block;
  font-weight: bolder;
}

section {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta {
  margin: 20px;
  width: 300px;
  height: 1000px;
  background-color: rgba(179, 179, 105, 0.527);
  border: 2px solid rgb(37, 114, 48);
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.tarjeta2 {
  align-items: center;
  margin: 10px;
  width: 300px;
  height: 130px;
  padding: 15px;
  background-color: rgba(133, 135, 136, 0.212);
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.tarjeta__img1, .tarjeta__img2, .tarjeta__img3, .tarjeta__img4, .tarjeta__img5, .tarjeta__img6 {
  width: 100%;
  height: 300px;
  background-color: rgba(70, 69, 69, 0.479);
  background-size: cover;
  margin-bottom: 25px;
  border-radius: 10px 10px 0 0;
}

.tarjeta__img1 {
  background-image: url(../fotos/terraza.jpg);
}

.tarjeta__img2 {
  background-image: url(../fotos/estrategia.jpg);
}

.tarjeta__img3 {
  background-image: url(../fotos/panel.jpg);
}

.tarjeta__img4 {
  background-image: url(../fotos/agua.jpg);
  object-fit: cover;
}

.tarjeta__img5 {
  background-image: url(../fotos/conservacion.jpg);
}

.tarjeta__img6 {
  background-image: url(../fotos/compost.jpg);
}

.tarjeta__title {
  color: rgb(37, 114, 48);
  text-align: inherit;
  font-size: 20px;
}

.tarjeta__desc {
  font-size: 10px;
  margin: 10px;
}

.carousel-inner img {
  align-items: center;
  object-fit: cover;
  border-radius: 15px;
}

.mapa {
  width: 300px;
  height: 320px;
  border-radius: 10px;
}

.testimonios-sostenible1 {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.sostenible2 {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.testimoinos .p {
  margin: 100px;
}

.label {
  display: block;
  font-weight: bolder;
  color: rgb(37, 114, 48);
}
.cotizacion {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
}

.panel-desgloce {
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.5);
  box-shadow: 4px 2px 20px lightgray;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(37, 114, 48);
  color: #fff;
  border: none;
  border-radius: 5px;
}

input[type=text], textarea {
  display: block;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.subir {
  height: 40px;
  width: 40px;
  position: fixed;
  left: 40PX;
  bottom: 20px;
  text-align: center;
  line-height: 40px;
  box-shadow: 0 0 5px #636363;
  background-color: rgba(37, 114, 49, 0.123);
  border-radius: 20px;
}
.subir:hover {
  background-color: rgba(37, 114, 49, 0.5);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block !important;
  }
}
@media (min-width: 768px) {
  header {
    text-align: center;
  }

}
footer {
  margin: 0px;
  padding: 30px;
  background-color: rgba(167, 192, 166, 0.589);
  border-top: 5px solid black;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 30px;
}

.redes a {
  color: rgb(37, 114, 48);
}

/*# sourceMappingURL=estilos.css.map */
