footer {margin: 0px;
  padding: 30px;
  background-color: rgba(167, 192, 166, 0.589);
  border-top: 5px solid black;
  font-size: 35px;
  letter-spacing: 3px;
  line-height: 30px;

  
  }
  
  .redes a {
    color: rgb(37, 114, 48) ;
  }
  