@mixin arbol {
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;

}

section {
    
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }


.tarjeta {
    
    margin: 20px;
    width: 300px;
    height: 1000px;
    background-color: rgba(179, 179, 105, 0.527);
    border: 2px solid rgb(37, 114, 48);
    @include arbol;
  }
  
  .tarjeta2 {
    align-items: center;
    margin: 10px;
    width: 300px;
    height: 130px;
    padding: 15px;
    background-color: rgba(133, 135, 136, 0.212);
    border: 2px solid rgb(0, 0, 0);
    @include arbol;
  }
  
  .tarjeta__img1, .tarjeta__img2, .tarjeta__img3, .tarjeta__img4, .tarjeta__img5, .tarjeta__img6 {
    width: 100%;
    height: 300px;
    background-color: rgba(70, 69, 69, 0.479);
    background-size: cover;
    margin-bottom: 25px;
    border-radius: 10px 10px 0 0;
  }
  
  .tarjeta__img1 {
    background-image: url(../fotos/terraza.jpg);
    
  }
  
  .tarjeta__img2 {
    background-image: url(../fotos/estrategia.jpg);
  }
  
  .tarjeta__img3 {
    background-image: url(../fotos/panel.jpg);
  }
  
  .tarjeta__img4 {
    background-image: url(../fotos/agua.jpg);
    object-fit: cover;
  }
  
  .tarjeta__img5 {
    background-image: url(../fotos/conservacion.jpg);
  }
  
  .tarjeta__img6 {
    background-image: url(../fotos/compost.jpg);
  }
  
  .tarjeta__title {
    color: rgb(37, 114, 48);
    text-align: inherit;
    font-size: 20px;
  }
  
  .tarjeta__desc {
    font-size: 10px;
    margin: 10px;
  }

  .carousel-inner img{

    align-items: center;
    object-fit: cover;
    border-radius: 15px; 
    
  }
  
