 @mixin hoja{
  width: 300px;
  height: 200px;
  border-radius: 10px;
 }
 .testimonios-sostenible1 {
    
  @include hoja
  }
  
  .sostenible2 {
    @include hoja
  }
  
  .testimoinos .p{
    margin: 100px;
  }